<mat-toolbar class="header-toolbar mat-elevation-z4">
  <!-- Left Content -->
  <div class="flex-grow-1 d-flex align-items-center">
    <a class="d-none d-md-block me-2">
      <img src="/hopeHorizonIcon.png" alt="Hope Horizon Icon" height="50" width="50"/>
    </a>

    <!-- Navigation Links -->
    <a mat-button class="mx-2 header-link" routerLink="/home">
      Home
    </a>
    <a mat-button class="mx-2 header-link" routerLink="/feed">
      Feed
    </a>
    <a mat-button class="mx-2 header-link" routerLink="/journal">
      Journal
    </a>
    <a mat-button class="mx-2 header-link flex" routerLink="/forms">
      Forms
    </a>
  </div>

  <!-- End/Right Content -->
  <button mat-icon-button [matMenuTriggerFor]="menu" class="me-2" aria-label="Account menu">
    <mat-icon class="header-iconSize">account_circle</mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="openTrackerDialog()">Tracker Settings</button>
    <button mat-menu-item (click)="openUserDialog()">User Settings</button>
    <button mat-menu-item (click)="openLogoutDialog()">Logout</button>
  </mat-menu>
</mat-toolbar>
