.header-toolbar {
  position: sticky;
  top: 0;
  width: 100%;
  background: #9e7bf7;
  z-index: 100;
}

.header-link {
  font-size: 1.15rem;
  transition: color 0.3s ease, background-color 0.3s ease;

  &:hover,
  &:focus {
    background-color: rgba(106, 78, 191, 0.3); /* Slightly stronger purple */
    text-decoration: none;
  }
}

.header-iconSize {
  font-size: 40px;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(-8px) translateY(-8px);
}
