.header__toolbar {
  position: sticky;
  top: 0;
  width: 100%;
  background: #d5bffa;
}

.header__link {
  font-size: 1.15rem;
}

.header__iconSize {
  font-size: 40px;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(-8px) translateY(-8px);
}
