<mat-card class="mat-elevation-z3 card d-flex flex-column" (click)="openBlogPost()">
  <div class="d-flex justify-content-between align-items-center flex-grow-1">
    <div>
      <mat-card-header>
        <mat-card-title class="fw-bold">
          {{ blog.title }}  <span class="blog-post-type">- {{ blogPostType }}</span>
          @if (forumName) {
            <span class="forum-name"> - {{ forumName }}</span>
          }
        </mat-card-title>
      </mat-card-header>
      <mat-card-content class="card-content">
        <p>{{ blog.content }}</p>
      </mat-card-content>
    </div>
    <div class="d-flex align-items-center">
      <button mat-icon-button class="me-2" (click)="openBlogPost()">
        <mat-icon>chevron_right</mat-icon>
      </button>
    </div>
  </div>
</mat-card>
