.card {
  margin-block: 16px;
  padding-block: 8px;
  background-color: rgba(218, 218, 218, 0.4);
  display: flex;
  flex-direction: column;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: rgba(160, 160, 160, 0.6);
    cursor: pointer;
  }
}

.card-content p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mat-card-header, .mat-card-content {
  flex-grow: 1;
}
