.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-image: url('/background.svg'); // Sets the background image to 'background.svg' located in the 'assets' folder.
  background-size: cover; // Scales the background image to cover the entire container, maintaining its aspect ratio.
  background-position: center; // Centers the background image within the container.
}

.login-page {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%; // Adjust the width as needed
  height: 80%; // Adjust the height as needed
  padding-left: 10%;
}

.login-form {
  background: #d5bffa; // Semi-transparent white background
  border-radius: 15px; // Rounded edges
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 30px;
  width: 30%; // Adjust the width as needed
  text-align: center;
}

.login-title {
  font-size: 24px; // Adjust the font size as needed
  font-weight: bold; // Make the text bold
  margin-bottom: 20px; // Adjust the margin as needed
}

.register-link {
  display: flex;
  align-items: center;
  margin-bottom: 20px; // Adjust the margin as needed
}

.register-text {
  margin: 0;
  margin-right: 10px; // Adjust the margin as needed
}

.register-action {
  text-decoration: none;
  color: gray; // Change the color to light gray
  cursor: pointer;
}

.register-action:hover {
  text-decoration: underline;
}

.form-group {
  text-align: left;
  width: 100%; // Ensure the form group takes full width
  margin-bottom: 15px;
}

.form-button {
  display: flex;
  justify-content: flex-end; // Aligns the button to the right
  margin-top: 10px; // Adds some space above the button
}

button {
  width: 40%;
  padding: 10px;
  background-color: #2A049B;
  font-weight: bold;
  font-size: medium;
  letter-spacing: 1px;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  box-sizing: border-box; // Include padding and border in the element's total width and height
}

button:hover {
  background-color: #1A0373; // Darker background color on hover
  color: white;
}

.login-image {
  background-image: url('/icon.svg'); // Replace with the actual path to your image
  background-size: 60% auto;
  background-repeat: no-repeat;
  background-position: center;
  width: 50%; // Adjust the width as needed
  height: 65%; // Ensure it takes the full height of the container
}

.error-message {
  color: #ba1a1a;
  /* Red color for error */
  text-align: left;
  font-size: small;
}
