.comment-card {
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-content {
  display: flex;
  align-items: center;
}

.header-content mat-icon {
  font-size: 20px;
}

.comment-card {
  .comment-content {
    white-space: pre-wrap;
    word-wrap: break-word;
  }
}

.save-button {
  background-color: #4c9a64;
  color: white;
  min-width: 180px;
  transition: background-color 0.3s ease;

  &:hover,
  &:focus {
    background-color: #3a7a4d;
  }
}

.save-button:disabled {
  background-color: #88a68f;
  color: white;
}

.deny-button {
  background-color: #5e636e;
  color: white;
  min-width: 180px;
  transition: background-color 0.3s ease;

  &:hover,
  &:focus {
    background-color: #4a4f58;
  }
}
