<mat-card class="mat-elevation-z3 card d-flex flex-column" (click)="openJournal()">
  <div class="d-flex justify-content-between align-items-center flex-grow-1">
    <div>
      <mat-card-header>
        <mat-card-title class="fw-bold">{{ forum.name }}</mat-card-title>
      </mat-card-header>
      <mat-card-content class="card-content">
        <p>{{ forum.description }}</p>
      </mat-card-content>
    </div>
    @if (forumUser.is_owner) {
      <div class="d-flex align-items-center">
        <button mat-raised-button class="me-3 edit-button mat-elevation-z3" (click)="openForum($event)">
          Edit
          <mat-icon>edit</mat-icon>
        </button>
      </div>
    } @else {
      <div class="d-flex align-items-center">
        <button mat-raised-button class="me-3 leave-button mat-elevation-z3" (click)="leaveForum($event)">
          Leave
          <mat-icon>exit_to_app</mat-icon>
        </button>
      </div>
    }
  </div>
</mat-card>
