<form>
  <mat-form-field class="forum-user-chip-list">
    <mat-label>Selected Users</mat-label>
    <mat-chip-grid #chipGrid aria-label="User selection">
      @for (user of forumUsers; track $index) {
      <mat-chip-row (removed)="remove(user)">
        {{ user.username }}
        <button matChipRemove [attr.aria-label]="'remove ' + user.username">
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip-row>
    }
    </mat-chip-grid>
    <input
      placeholder="New User..."
      [(ngModel)]="currentUser"
      [matChipInputFor]="chipGrid"
      [matAutocomplete]="auto"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      (matChipInputTokenEnd)="add($event)"
    />
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
      @for (user of filteredUsers(); track user) {
      <mat-option [value]="user">
        {{ user.username }}
      </mat-option>
    }
    </mat-autocomplete>
  </mat-form-field>
</form>
