<div class="register-container">
    <div class="register-page">
        <div class="register-form">
            <div class="register-title">REGISTER NOW</div>
            <div class="login-link">
                <div class="login-text">Already have an account?</div>
                <div class="login-action" [routerLink]="['/login']" role="button">Login here</div>
            </div>
            <form>
                <mat-form-field class="form-group" appearance="fill">
                    <mat-label>Username</mat-label>
                    <input matInput type="text" id="username" name="username" required
                        placeholder="Enter your username">
                </mat-form-field>
                <mat-form-field class="form-group" appearance="fill">
                    <mat-label>Email</mat-label>
                    <input matInput type="email" id="email" name="email" required placeholder="Enter your email">
                </mat-form-field>
                <mat-form-field class="form-group" appearance="fill">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" id="password" name="password" required
                        placeholder="Enter your password">
                </mat-form-field>
                <mat-form-field class="form-group" appearance="fill">
                    <mat-label>Re-enter Password</mat-label>
                    <input matInput type="password" id="reenter-password" name="reenter-password" required
                        placeholder="Re-enter your password">
                </mat-form-field>
                <div class="form-button">
                    <button mat-raised-button color="primary" type="submit" title="Click to register">REGISTER</button>
                </div>
            </form>
        </div>
        <div class="register-image"></div>
    </div>
</div>